<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	{% load static%}
	<title>
        Chatmash | {% block title %}{% endblock %}</title>

        <link rel="rel" type="text/css" href="logo.png">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
  <!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui/jquery-ui.js' %}"></script>

   <!-- 
  
 <script type="text/javascript" src="{% static 'lib/picker_date.js' %}"></script> <script type="text/javascript" src="{% static 'lib/picker.js' %}"></script> -->
  <script type="text/javascript" src="{% static 'lib/legacy.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/picker.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/picker_date.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/picker.time.js' %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
            
	<!-- <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script> -->
  
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %} "></script>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>
<body style="background-color: white;font-family: 'Raleway', sans-serif;">
<div class="navbar-fixed">
	 <nav class="indigo" >
      <div class="container">
    <div class="nav-wrapper" >
      <a href="#!" data-position="bottom" data-toggle="tooltip" title="Home.." class="brand-logo tooltipped">
          <i class="large material-icons">home</i> |
          Ch@tmash

      </a>
      <!-- <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a> -->
      <ul class="right hide-on-med-and-down"><!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  {% load static%}
  <title>
        Chatmash | {% block title %}{% endblock %}</title>


  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
  <!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui/jquery-ui.js' %}"></script>

   <!-- 
  
 <script type="text/javascript" src="{% static 'lib/picker_date.js' %}"></script> <script type="text/javascript" src="{% static 'lib/picker.js' %}"></script> -->
  <script type="text/javascript" src="{% static 'lib/legacy.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/picker.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/picker_date.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/picker.time.js' %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
            
  <!-- <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script> -->
  
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %} "></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    {% block head %}
    {% endblock %}
    <style type="text/css">
      .picker{
  display: none !important;
}
#data_root{
  display: none !important;
}
.modal{
  height: 349px;
    border-radius: 7px;
}
    </style>
</head>
<body style="background-color: white;font-family: 'Raleway', sans-serif;">
<div class="navbar-fixed">
   <nav class="indigo" >
      <div class="container">
    <div class="nav-wrapper" >
      <a href="#!" data-position="bottom" data-toggle="tooltip" title="Home.." class="brand-logo tooltipped">
          <i class="large material-icons">home</i> |
          Ch@tmash

      </a>
      <!-- <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a> -->
      <ul class="right hide-on-med-and-down">
          <li>
                     <div class="">

                  <input type="text" style="font-size:20px;color:white;" placeholder="Search here..." required="" id="input_u">

                    </div>
                    <div id="user_list" style="margin: 0px;width: 301px;border: 1px solid rgb(165, 172,178);
    background-color: #3f51b5 !important;">
                      
                    </div>
                

          </li>
          <li>
             <div class="col-sm-2"></div>
          </li>
          <li><a href="/marvel/timeline/" class="btn-floating green pulse" data-toggle="tooltip" title="Timeline"><i class="material-icons">burst_mode</i></a></li>
          <li><a href="/chat_f/" class="btn-floating green pulse" data-toggle="tooltip" title="Chats"><i class="material-icons">chat</i></a></li>
          <li><a href="/marvel/change/" class="btn-floating green pulse" data-toggle="tooltip" title="Edit Password"><i class="material-icons">edit</i></a></li>
          <li><a class="btn-floating red pulse" data-toggle="tooltip" title="Profile" href="/marvel/profile/"><i class="material-icons">account_circle</i></a></li>
        <li>
            <a class="btn-floating red" href="/marvel/logout" data-toggle="tooltip" title="Logout" >

                <i class="large material-icons">power_settings_new</i>
            </a>
        </li>

      </ul>
      <!-- <ul class="side-nav" id="mobile-demo">
          <li><a href="">LogOut</a></li>
      </ul> -->
    </div>
     </div>
  </nav>
    </div>
          <div class="fixed-action-btn fab" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large hoverable indigo">
          <i class="large  material-icons">arrow_drop_up</i>
    </a>
      <ul>

          <li><a class="btn-floating orange" data-toggle="tooltip" title="Find Friends"><i class="material-icons">group</i></a></li>
<li><a class="btn-floating green " data-toggle="tooltip" title="Scheduled posts"><i class="material-icons">alarm</i></a></li>
      <li><a class="btn-floating blue" data-toggle="tooltip" title="Edit Profile"><i class="material-icons">border_color</i></a></li>
      <li><a class="btn-floating pink" href="{% url 'marvel:timeline' %}" data-toggle="tooltip" title="Timeline"><i class="material-icons">explore</i></a></li>

        </ul>
    </div>



<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script> -->
  {%block body%}
{%endblock%}

</body>

</html>
          <li>
             <div class="col-sm-2"></div>
          </li>
          <li><a href="/chat_f/" class="btn-floating green pulse" data-toggle="tooltip" title="Chats"><i class="material-icons">chat</i></a></li>
          <li><a class="btn-floating red pulse" data-toggle="tooltip" title="Notifications"><i class="material-icons">event_note</i></a></li>
        <li>
            <a class="btn-floating red" href="/marvel/logout" data-toggle="tooltip" title="Logout" >

                <i class="large material-icons">power_settings_new</i>
            </a>
        </li>

      </ul>
      <!-- <ul class="side-nav" id="mobile-demo">
          <li><a href="">LogOut</a></li>
      </ul> -->
    </div>
     </div>
  </nav>
    </div>
         	<div class="fixed-action-btn fab" style="bottom: 45px; right: 24px;">
    	<a class="btn-floating btn-large hoverable indigo">
      		<i class="large  material-icons">arrow_drop_up</i>
		</a>
    	<ul>

      		<li><a class="btn-floating orange" data-toggle="tooltip" title="Find Friends"><i class="material-icons">group</i></a></li>
<li><a class="btn-floating green " data-toggle="tooltip" title="Scheduled posts"><i class="material-icons">alarm</i></a></li>
			<li><a class="btn-floating blue" data-toggle="tooltip" title="Edit Profile"><i class="material-icons">border_color</i></a></li>
			<li><a class="btn-floating pink" href="{% url 'marvel:timeline' %}" data-toggle="tooltip" title="Timeline"><i class="material-icons">explore</i></a></li>

        </ul>
  	</div>



<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script> -->
	{%block body%}
{%endblock%}

</body>


</html>