<div class='col-sm-12' >
            <div class='row'>
               <div class='col-sm-12 '>
                  <div class='card hoverable'>
                     <div class='card-image' >
                        <img src='/media/{{p.post_img}}'>
                     </div>
                     <div class='card-content'>
                        <span class='indigo-text'>
                           <h4>
                              {{p.user}}
                           </h4>
                        </span>
                        <h5 align='justify'>
                           {{p.post_msg}}
                        </h5>
                        <br>
                        <div class='row'>
                           <div class='container' >
                              <!-- <div class='col-sm-4'>
                                 <a id=' class=' waves-effect btn-floating btn-medium waves-light red'>
                                 <i class='large material-icons'>
                                 favorite
                                 </i>
                                 </a><span class='indigo-text'>
                                 100
                                 </span>
                              </div> -->
                             
                              <div class='col-sm-7 left'>
                                 <div class='indigo-text' >
                                    <i class='tiny material-icons'>date_range</i>
                                    <span style='font-size:20px;'> {{p.post_date}} {{ p.post_time }}</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        </div>
           
         </div>
      </div>
   </div>
   </div>